html,body {
    margin:0;

    height: 100%;
    width: 100%;
}

.TopMargin{
    position: relative;
    height: 5%;
    display: none;
}

.Navbar{
    position: relative;
    height: 14%;
}

.Navbar Object{
    position: absolute;
    width: 20%;
    margin: 5.5%;
}

.Navbar img{
    position: absolute;
    opacity: 0.4;
    width: 40%;
    transform: translateX(-50%);
    left:50%;
    bottom: 15%;
    z-index: 99;
    display: none;

    animation:Mouse 2s infinite;
    -webkit-animation:Mouse 2s infinite; /* dla Google Chrome, Safari, Opera 15+ */
}

.Navbar img:hover{
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
}

.Hamburger {
    position:absolute;
    right: 4%;
    top: 2%;
    opacity: .6;
    width: 14%;
    height: 8%;
    z-index: 99;
}

.Hamburger img{
    width: 100%;
}

/* Hamburger pojawiający się na dole przeglądarki */
.HamburgerScroll{
    position:fixed;
    /* right: 4%;
    top: 8%; */
    transform: translateX(-50%);
    bottom: 4%;
    left: 50%;
    opacity: .8;
    width: 14%;
    height: 8%;
    z-index: 99;
    display: none;
}
.HamburgerScroll img{
    width: 100%;
}

.HamburgerToggle{
    position: fixed;
    top:19%;
    height:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 90;
    display:none;
  }

/* Lista wyliczeniowa jako zawartość hamburgera HamburgerToggle */
ul {
    padding-left: 0;
    padding-top: 20%;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    position: fixed;
    z-index: 99;
    justify-content: center;
    display: grid;
}

ul li{
    margin-bottom: 10%;
}
  
ul li a {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 2.5em;
    letter-spacing: 3px;
    color:#69C2AF;
    opacity: .7;
}

ul li a span {
    color:#ffffff;
}

/* followWrap jest odpowiedzialny za działanie skryptu kontrolującego sticky - nie istnieje w html, zostaje dodany poprzez skrypt  */
.followWrap{
    background-color: #69C2AF;
    margin-bottom: 2%;
    padding: 1% 0 1% 0;
}

.Sticky{
    position: relative;
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: #69C2AF;
    background-size: auto;
    color:#ffffff;
    letter-spacing: 3px;

}

.Sticky.fixed{
    position:fixed;
    opacity: .9;
    width: 100%;
    top:0;
    z-index: 99;
    padding: 1% 0 1% 0;
}
.Sticky.relative{
    width: 100%;
    position: relative;
}

/* Główny div mieszczący slider oraz podpis */
.Project{
    position: relative;
    height: 40%;
    background-color: #ffffff; /* Placeholder tła, do usunięcia */
    overflow: hidden;
}

/* Div odpowiadający za poruszanie obiektów w osi X */
.Project .Slidediv{
    position: absolute;
    height: 78%;
    width: 100%;
    overflow-x:auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.Project .Slidemargin{
    position: relative;
    float: left;
    width:13%;
    height: 100%;
    display: none;

}

.Project video{
    position: relative;
    height: 100%;
    margin: auto; /* Wymuszam auto, bo bez tego robi się dziwna przerwa */
}

.Project img{
    position: relative;
    height: 100%;
}

/* Project title */
.Project p{
    position: relative;
    top: 87%;
    color: #666666;
    font-family: Helvetica, sans-serif;
    font-size: .9em;
}

/* Additional formatting options */
.Project p span{
    font-weight: bold;
    color:#222222;
}

/* MEDIA QUERIES */

@media (orientation: portrait){

    .Project p{
        text-align: center;
        margin: 0 auto;
    }

}

@media (orientation: landscape){

    .Navbar{
        height: 20%;
    }

    .Navbar Object{
        margin: 1.7%;
        width: 14%;
    }

    .Hamburger{
        width: 8%;
        right: 1.7%;
        top: 3%;
    }

    .HamburgerScroll{
        width: 8%;
        bottom: 8.5%;
        left: 5.5%;
    }

    .Project{
        height: 69%;
    }

    .Project p{
        text-align: center;
        margin: 0 auto;
    }


    ul{
        padding-top: 25%;
        display: flex;
    }

    ul li{
        margin-left: 2%;
        margin-right: 2%;
    }

    ul li a{
        font-size: 1.7em;
    }

}

@media (max-width: 300px){

    .Project p{
        font-size: .7em;
    }

}
@media (min-width: 301px) and (orientation: portrait){

    .Project{
        height: 33%;
    }
}

@media (min-width: 400px) and (orientation: portrait){
    
    .Project {
        height: 35%;
    }

    .Navbar Object{
        width: 25%;
    }

    .Hamburger{
        width: 16%;
    }

    .HamburgerScroll{
        width: 16%;
    }
}

@media (min-width: 560px){

    .Navbar Object{
        width: 12%;
    }

    .Hamburger{
        width: 7%;
    }

    .HamburgerScroll{
        width: 7%;
    }
}

@media (min-width: 768px){}

@media (min-width: 768px) and (orientation: portrait){}

@media (min-width: 1200px){

    .TopMargin{
        display: block;
    }

    .Navbar{
        position:fixed;
        height: 100%;
        width: 13%;
        z-index: 99;
    }

    .Navbar::after{
        content: '';
        background-color: #ffffff;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity:0.9;
    }

    .Navbar object{
        width: 65%;
        margin: 0;
        transform: translateX(-50%);
        left: 50%;
        top:5%;
        z-index: 999;
    }

    .Navbar img{
        display: block;
    }

    .Hamburger{
        display: none;
    }

    /* Usunięcie poprzez przesunięcie przesuwanego hamburgera oraz menu kontekstowego w wersji desktopowej */
    .HamburgerScroll{
        left:500%; 
    }

    .HamburgerToggle{
        left:500%;
    }

    .Project .Slidemargin{
        display: block;
    }

    .Project{
        height: 75%;
    }

    .Project .Slidediv{
        height: 90%;
    }

    .Project p{
        text-align: left;
        top: 93%;
        left: 13%;
    }

    .followWrap{
        position: relative;
        width: 87%;
        left:13%;
        margin:0;
        border-radius: 20px 0 0 0;
    }

    .Sticky.fixed{
        width:87%;
        left:13%;
        border-radius: 0 0 0 20px;
    }

    .Sticky.relative{
        width:87%;
        left:13%;
    }

}

/* ANIMACJE */

@keyframes Mouse{
    0% {bottom: 15%}
    50% {bottom:13%}
    100% {bottom:15%}
}